<div  role="main" id="main">
  <div class="row ">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel transparent-bg">
        <div class="x_title">
          <h2>
            <span>
              <span class="material-icons">
                perm_contact_calendar
              </span>

              Contact list
            </span>


            <button routerLink="add" type="button" class="btn btn-success btn-xs btn-add float-end">
              <span class="material-icons size-s">
                person_add
              </span>
              Add
            </button>
          </h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="search-grid " style="margin:15px 15px 15px 0px">

            <div class="col-md-6 col-xs-12 col-sx-12 mt-3">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="firstname" #firstname>
                <input type="text" class="form-control" placeholder="lastname" #lastname>

                <div class="input-group-append">
                  <button (click)="search(firstname.value,lastname.value)" class="btn btn-outline-secondary" type="button">
                    <span class="material-icons size-s">
                      search
                    </span>
                    Search
                  </button>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="col-md-6 col-xs-12 col-sx-12" *ngIf="contacts?.length ==0">
          <div class="row" *ngIf="isSearched">
            <p class="empty-table">
              {{firstname.value}} {{lastname.value}} is not exist.
              <button class="btn btn-outline-dark float-end" type="button" (click)="back()">
                Back
              </button>

            </p>

          </div>

        </div>

        <div class="table table-responsive" *ngIf="contacts?.length > 0">
          <table class="table  table-bordered bulk_action">
            <thead>
              <tr class="headings">
                <th class="col-lg-2 column-title">
                  <label class="container" style="cursor:pointer">
                    Name
                  </label>
                </th>

                <th class="col-lg-2 column-title no-link last text-center">
                  <span class="nobr">Home phone number</span>
                </th>

                <th class="col-lg-2 column-title no-link last text-center">
                  <span class="nobr">Business phone number </span>
                </th>
                <th class="col-lg-2 column-title no-link last text-center">
                  <span class="nobr">Moblie phone number</span>
                </th>
                <th class="col-lg-2 column-title no-link last text-center">
                  <span class="nobr">Email</span>
                </th>

                <th class="col-lg-2 column-title no-link last text-center">
                  <span class="nobr">Action</span>
                </th>

              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let contact of contacts| paginate: { itemsPerPage:pageSize, currentPage: page,totalItems: total }" class="even pointer">
                <td class="text-center">{{ contact.firstName }} {{contact.lastName}}</td>
                <td class="text-center">{{ contact.homePhoneNumber | mask: '000-000-0000'}}</td>
                <td class="text-center">{{ contact.businessPhoneNumber | mask: '000-000-0000'}}</td>
                <td class="text-center">{{ contact.mobilePhoneNumber| mask: '000-000-0000' }}</td>
                <td class="text-center">{{ contact.email }}</td>
                <td class="text-center">
                  <button (click)="view(contact.id)" type="button" class="btn btn-outline-secondary  btn-sm"
                         data-bs-toggle="tooltip" data-bs-placement="top" title="view Contact"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <span class="material-icons size-s">
                      visibility
                    </span>

                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">View Contact Info</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body ">

                          <div class="row">
                            <div class="col-md-10 col-lg-10 col-xs-12">
                              <p class="view text-star">
                                <span class="material-icons view-icon ">
                                  person
                                </span>

                                Name:<span> {{ viewcontactInfo?.firstName }} {{viewcontactInfo?.lastName}}</span>
                              </p>
                              <p class="view" *ngIf="viewcontactInfo?.homePhoneNumber">
                                <span class="material-icons view-icon">
                                  call
                                </span>

                                Home Phone :<span>  {{ viewcontactInfo?.homePhoneNumber| mask: '000-000-0000' }}</span>
                              </p>
                              <p class="view" *ngIf="viewcontactInfo?.businessPhoneNumber">
                                <span class="material-icons view-icon">
                                  phone_iphone
                                </span>
                                Business Phone :<span>  {{ viewcontactInfo?.businessPhoneNumber | mask: '000-000-0000'}}</span>
                              </p>
                              <p class="view" *ngIf="viewcontactInfo?.mobilePhoneNumber">
                                <span class="material-icons view-icon"> phone_iphone</span>
                                Mobile Phone :<span> {{ viewcontactInfo?.mobilePhoneNumber | mask: '000-000-0000'}}</span>
                              </p>
                              <p class="view" *ngIf="viewcontactInfo?.email">
                                <span class="material-icons view-icon">
                                  alternate_email
                                </span>

                                Email: <span> {{viewcontactInfo?.email}}</span>
                              </p>
                            </div>
                          </div>

                        </div>
                        <div class="modal-footer">
                             <button type="button" class="btn btn-info" disabled>Copy</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                       
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="btn btn-outline-info mar-5 btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Contact" routerLink="edit/{{contact.id}}">
                    <span class="material-icons size-s">
                      mode
                    </span>

                  </a>

                  <a class="btn btn-outline-danger mar-5 btn-sm"
                     data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Contact"
                     (confirm)="Delete(contact.id)"
                     (cancel)="cancelClicked = true"
                     mwlConfirmationPopover
                     popoverTitle="delete"
                     popoverMessage="Delete {{ contact.firstName +  contact.lastName}}?"
                     placement="left">
                    <span class="material-icons size-s">
                      delete
                    </span>

                  </a>

                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

    </div>
    <pagination-controls class="text-center"
                         (pageChange)="pageChanged($event)"
                         (pageBoundsCorrection)="pageChanged($event)">
    </pagination-controls>
  </div>

</div>




